
.navbar-expand .navbar-nav {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    
}

.bg-dark {
    background-color: #343a40!important;
    display: flex;
    justify-content: space-between;
}

.d-inline-block {
    display: inline-block!important;
    
}